@font-face {
  font-family: "Calibri";
  src: url(/calibri.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  color: #00aeef;
  font-size: 6vmin;
  font-family: Calibri, Roboto, Tahoma;
  text-align: center;
}
